* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Inter, sans-serif;
    word-break: break-word;
    text-decoration: none;
    color: #F4F6F6;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: url("../images/background.png");
    background-attachment: fixed;
}

.content {
    padding: 200px 200px 125px 200px;
}

@media (max-width: 900px) {
    .content {
        padding: 200px 50px 125px 50px;
    }
}

@media (max-width: 425px) {
    .content {
        padding: 250px 25px 125px 25px;
    }
}