{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}"/>
{% endblock %}
{% block content %}
    <div class="content__header">
        <div class="content__header__block">
            <h1>Профессиональная школа <span>обучения 3D</span> в онлайн режиме</h1>
            <p>Начни сегодня и проснись профессионалом уже завтра!</p>
            <a href="{% url 'courses:courses' %}">Посмотреть курсы!</a>
        </div>
        <div class="content__header__image">
            <img src="{% static 'images/index picture.png' %}" alt="index header pic">
        </div>
    </div>
    <div class="content__apps">
        <h2>Внизу список <span>программ</span>, которым мы будем обучать вас!</h2>
        <ul>
            <li>
                <div class="icon">
                    <img src="{% static 'images/blender icon.png' %}" alt="icon">
                </div>
                <h3>Blender</h3>
                <p>Blender — профессиональное свободное и открытое программное обеспечение для создания трёхмерной
                    компьютерной графики, включающее в себя средства моделирования, скульптинга, анимации, симуляции,
                    рендеринга, постобработки и монтажа видео со звуком, компоновки с помощью «узлов» (Node
                    Compositing), а также создания 2D и тд.</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{% static 'images/maya icon.png' %}" alt="icon">
                </div>
                <h3>Maya</h3>
                <p>Autodesk Maya- полноценный пакет для создания высокопрофессиональной 3D-графики. Содержит набор
                    средств для 3D-анимации, моделирования, рендеринга, захвата движения (motion capture) и
                    композитинга. Maya позволяет организовать параллельные рабочие процессы и работать над сложными
                    проектами.</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{% static 'images/zBrush icon.png' %}" alt="icon">
                </div>
                <h3>ZBrush</h3>
                <p>ZBrush — профильная программа в области 3D-скульптинга, которая позволяет художнику контролировать
                    форму объекта и его детализацию путём вдавливания и вытягивания поверхности с помощью специальных
                    инструментов. Этот процесс напоминает лепку скульптуры в реальной жизни.</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{% static 'images/3ds max icon.png' %}" alt="icon">
                </div>
                <h3>3Ds Max</h3>
                <p>3Ds Max — это программа для создания 3D-объектов, рендеринга (преобразования 3D-моделей в
                    привлекательную двумерную картинку) и анимирования в 3D. Это продукт компании Autodesk, которая
                    специализируется на работе с трехмерными изображениями для инженерного и дизайн-проектирования.</p>
            </li>
        </ul>
    </div>
{% endblock %}